<!DOCTYPE html>

{% set title = id ? 'Edit genre ' ~ id : 'Add genre' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
</head>
<body>
    {{ include("components/_header.html.twig") }}
    <h1>{{ title }}</h1>
    {% if not user.authenticated %}
    <p style="color: red;">Please <a href="/login">log in as an administrator</a> to view this page.</p>
    {% else %}




    <button class="button" onclick="back()" style="margin: 20px;">Back</button>

    <div class="section">
        <h2>General Information</h2>
        <div class="form-wrapper">
            <form>
                <div id="error-section-wrapper" style="color: red; display: none;">
                    <b>ERROR:</b> <span id="error-section"></span>
                </div>
                <div class="field-wrapper">
                    <input type="text" id="input-name" name="name" class="input" required />
                    <label for="input-name" class="label">Name</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" id="input-image-link" name="image_link" class="input" required />
                    <label for="input-image-link" class="label">Image Link</label>
                </div>
                <div class="button-bar login-button-bar">
                    <button class="button button-primary" type="button" onclick="update();">{{ id ? "Update" : "Add" }}</button>
                </div>
            </form>
        </div>
    </div>

    <input type="text" id="genre-id-holder" value="{{ id }}" hidden disabled>

    <script>
        const $ = document.querySelector.bind(document);

        function back() {
            window.location.href = '/manage/genres';
        }

        const genreId = document.getElementById('genre-id-holder').value;

        const onError = (err) => {
            document.getElementById('error-section').innerHTML = err?.message;
            document.getElementById('error-section-wrapper').style.display = 'block';
        };

        window.onload = () => {
            if (!genreId) return;
            fetch(`/api/genres/${genreId}`, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
            })
            .then((res) => res.json())
            .then((data) => {
                if (!data?.success) {
                    onError(data);
                    return;
                }

                $('#input-name').value = data.name;
                $('#input-image-link').value = data.image_link;
            })
            .catch(onError);
        };

        function update() {
            const name = $('#input-name').value ?? '';
            const image_link = $('#input-image-link').value || null;

            let url = '/api/genres/';
            let method = 'POST';
            if (genreId) {
                url += genreId;
                method = 'PUT';
            }

            fetch(url, {
                method,
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({
                    name, image_link
                }),
            })
            .then((res) => res.json())
            .then((data) => {
                if (!data?.success) {
                    onError(data);
                    return;
                }

                back();
            })
            .catch(onError);
        }
    </script>






    {% endif %}
    {{ include("components/_footer.html.twig") }}
</body>
</html>